{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login / Signup</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  <div class="container">
    <h2>{% if login%} Login{%else%}SignUp{%endif%}</h2>
    <form method="post" >
        {% csrf_token %}
      <div class="input-group">
        <label for="username">Username</label>
        {{form.username}}
        {{form.username.errors}}
        <!-- <input type="text" id="username" placeholder="Enter username" required> -->
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        {{form.password}}
        {{form.password.errors}}
        <!-- <input type="password" id="password" placeholder="Enter password" required> -->
      </div>
      <button class="btn" type="submit">{% if login%} Login{%else%} SignUp{%endif%}</button>
    </form>
    {% if err == 1 %}user not matched{%endif%}
    {% if err == 2 %}password not matched{%endif%}

    <div class="toggle">
      Don’t have an account? <a href="#">Sign up</a>
    </div>
  </div>
</body>
</html>