 {% extends 'blogs/base.html' %}
 {% block content %}
        <!-- Manage Blogs Page -->
        <section id="manage-blogs">
            <div class="manage-table">
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Category</th>
                            <th>Date</th>
                            <th>Featured</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for blog in blogs %}
                        <tr>
                            <td><strong>{{blog.title}}</strong></td>
                            <td>{{blog.author}}</td>
                            <td>{{blog.category}}</td>
                            <td>{{blog.date}}</td>
                            <td><span class="featured-indicator"></span> Yes</td>
                            <td>
                                <div class="action-buttons">
                                    <button class="btn btn-small">Edit</button>
                                    <form method="post" action="/blogs/delete/{{blog.id}}">
                                        {% csrf_token %}
                                        <button class="btn btn-danger btn-small">Delete</button>
                                    </form>                                    
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
{%endblock%}
