<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
</head>

<body>
   
    {% include 'components/navbar.html' %}
    <!-- Main Content -->
    <div class="main-content">
        <div class="container">
            <h1>📦 Product Management</h1>

            {% block content %}
            {% endblock %}
        </div>
    </div>
    <!-- Footer -->
 {% include 'components/footer.html' %}
</body>

</html>