<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="input">
            {{field.label}}
            {{field}}
            <div style="color: red;">{{field.errors}} </div>
        </div>
        {%endfor%}
        <!-- <div class="input">
             {{form.title.label}}
             {{form.title}}
           <div style="color: red;">{{form.title.errors}} </div> 

         </div>
         <div class="input">
             {{form.rating.label}}
             {{form.rating}}
             {{form.rating.errors}}
         </div> -->

        <!-- <label for="">title</label>
        <input name="title" type="text"><br> -->
        <input type="submit" value="Submit">
    </form>
</body>

</html>